---
import { fetchBooks } from "../../utils/fetchBooks";
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const books = await fetchBooks();
  const perPage = 12; // Number of items per page
  const totalPages = Math.ceil(books.length / perPage);

  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() },
  }));
}

const books = await fetchBooks();
const perPage = 12;
const page = Number(Astro.params.page);
const paginatedBooks = books.slice((page - 1) * perPage, page * perPage);
const totalPages = Math.ceil(books.length / perPage);
const totalbooks = (books.length) + 1;
---

<Layout title=`SheetBook - Page ${page}`>
    <div class="bg-white">
        <div class="mx-auto px-[10%] py-6">
          <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {paginatedBooks.map((book: { image: string; title: string; slug: string; author: string; year: string; pub: string }) => (
            <div class="group relative">
              <img src={book.image} alt={book.title}
                class="w-full bg-gray-200 object-cover group-hover:opacity-75 h-[46vh]">
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-sm text-gray-700 overflow-hidden text-ellipsis">
                    <a href=`/book/${book.slug}`>
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {book.title.length > 50 ? book.title.substring(0, 50) + "..." : book.title}
                    </a>
                  </h3>
                  <p class="mt-1 text-sm text-gray-500">{book.author}</p>
                </div>
                <p class="text-sm font-medium text-gray-900">{book.year}</p>
              </div>
            </div>
            ))}
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <div class="flex items-center justify-between border-t border-gray-200 bg-white px-[10%] py-3">
        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
          <div>
            <p class="text-sm text-gray-700">
              Showing
              <span class="font-medium">{((page * perPage) - perPage) + 1}</span>
              to
              <span class="font-medium">{page * perPage}</span>
              of
              <span class="font-medium">{totalbooks}</span>
              results
            </p>
          </div>
          <div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-xs" aria-label="Pagination">
              {page > 1 && <a href={`/page/${page - 1}/`}
      class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">
      <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd"
          d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd" />
      </svg>
      <span>Previous</span>
    </a>}
      {page < totalPages && <a href={`/page/${page + 1}/`}
      class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-gray-300 ring-inset hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">
      <span>Next</span>
      <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd"
          d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd" />
      </svg>
    </a>}
            </nav>
          </div>
        </div>
      </div>
</Layout>